body{
    margin: 0;
    padding: 0;
}

header, footer{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: #ed5a0e;
    color: #fff;
}

.logo-titulo{
    font-weight: bold;
}

.container-banner img{
    width: 100%;
}

.area{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.area span:last-child{
    display: inline;
    padding: 5px;
    background-color: #ed5a0e;
}
.area h2 {
    text-align: center;
}